<div id="config" ng-controller="ConfigCtrl">
	<h2>Configuration</h2>

	<form ng-submit="save()">
		<label>
			JSON URL:
			<input type="text" size="60" ng-model="configUrl">
		</label>
		<input type="submit" value="Save config">
	</form>
	<p ng-show="saved">Configuration has been saved!</p>

	<div class="items" ng-show="items">
		<table>
			<caption>Items in current configuration</caption>
			<thead>
				<tr>
					<th>Type</th>
					<th>URL</th>
					<th>Duration (s)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.type}}</td>
					<td><a href="{{item.url}}">{{item.url}}</a></td>
					<td>{{item.duration}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<p><a href="#/cycle">Back to cycle</a></p>
</div>
